.gigList {
  display: flex;
}

.card {
  margin: 5px;
  height: fit-content;
}

.card-text {
  color: black;
}

.card-title {
  color: black;
}

.tttt {
  margin: 0px;
  padding: 0px;
}

.tttt .card-text{
  margin: 0px;
}

.card-body .card-text {
  margin-top: 0px;
}

.card-body .btnRow {
  justify-content: center;
  margin-top: 5px;
}
/* 
.btnRow .btnCol1 {
  line-height: 1;
} */

.colImg > img {
  height: 100%;
}